.height_block{
    width: 58em;
    height: 3em;
}
.contents_row{
    background-color: white;
    width: 58em;
    margin: 0 auto;
    height: 100%;
}
.line{
    border-bottom: 2px solid #FFFF33;
    margin-left: auto;
    margin-right: auto;
    width: 56em;
}
.form{
    margin: 3em;
    background-color: #EEEEEE;
    text-align: center;
}

.sign_up{
    padding: 10px 40px;
    background-color: #EEEEEE;
}
.field{
    padding: 5px 40px;
    text-align: center;
}
.actions{
    padding: 20px 40px;
    text-align: center;
}

.sign_up{
    color: black;
}
input.box{
    width: 30em;
}
textarea.boxx{
    width: 30em;
    height: 30em;
}
.row_block{
    height: 0;
    width: 0;
}
.contents{
    background-color: #EEEEEE;
    margin: 0  auto;
    height: 100vh;
    width: 62em;
}
